html
  head
    title Personal Library
    meta(name='description', content='A cool thing made with Glitch')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    script(src='/public/client.js')

  body
    h1.center Personal Library

    h3 Oops! No book Exists. 

    a(href='/') Back to Library